{
    "testnet": true,
    "network_mainnet": "https://rest.bitcoin.com/v2/",
    "network_testnet": "https://trest.bitcoin.com/v2/",
    "ws_mainnet": "wss://ws.bitcoin.com",
    "ws_testnet": "wss://tws.bitcoin.com",
    "token_address": "0f9ae9a45fdc9cafa927a885928d565aed50a5e2dd33cccc796100f7555c58a4",
    "language": "en",
    "telegram_token": "1046267622:AAEjZbF2peTGPc62Ou19MHd6DS31C6Xmbxk",
    "word_list_language": "english",
    "default_tip_amount": 1,
    "owner_telegram_id": 1049984700,
    "email": {
        "to_address": "slp-bot@example.com",
        "from_address": "slp-bot@example.com",
        "config": {
            "sendmail": true,
            "newline": "unix",
            "path": "/usr/sbin/sendmail"
        }
    },
    "tip_emojis": [
        {
            "icon": "😀",
            "value": 10
        },
        {
            "icon": "🤩",
            "value": 20
        }
    ],
    "tip_keyword": "tip\\s+([0-9]+[\\.0-9]*)"
}
